# Import data

In [2]:
import pandas as pd
import numpy as np

# datalink: 'https://raw.githubusercontent.com/elabrodsky/tulanemba/main/heart_2020_cleaned.csv'
datalink = 'https://raw.githubusercontent.com/elabrodsky/tulanemba/main/heart_2020_cleaned.csv'
df = pd.read_table(datalink, sep=',', header=(0))

# Numerical Exploratory Data Analysis:

## Column Data Types:

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

## Summary of Numerical Columns:

In [6]:
# summary of data
df.describe()

                 BMI  PhysicalHealth   MentalHealth      SleepTime
count  319795.000000    319795.00000  319795.000000  319795.000000
mean       28.325399         3.37171       3.898366       7.097075
std         6.356100         7.95085       7.955235       1.436007
min        12.020000         0.00000       0.000000       1.000000
25%        24.030000         0.00000       0.000000       6.000000
50%        27.340000         0.00000       0.000000       7.000000
75%        31.420000         2.00000       3.000000       8.000000
max        94.850000        30.00000      30.000000      24.000000

In [7]:
# make the statistical summary presentable
df.describe()[1:][['BMI', 'PhysicalHealth', 'MentalHealth', 'SleepTime']].T

                     mean       std    min    25%    50%    75%    max
BMI             28.325399  6.356100  12.02  24.03  27.34  31.42  94.85
PhysicalHealth   3.371710  7.950850   0.00   0.00   0.00   2.00  30.00
MentalHealth     3.898366  7.955235   0.00   0.00   0.00   3.00  30.00
SleepTime        7.097075  1.436007   1.00   6.00   7.00   8.00  24.00

In [8]:
# summary of data -- leave out count, transpose and beautify the output
df.describe()[1:][['BMI', 'PhysicalHealth', 'MentalHealth', 'SleepTime']].T.style.background_gradient(cmap='Reds')

## Summary of Categorical Columns:

### Count the number of YES and NO in each of respective chosen columns

In [10]:
df['HeartDisease'].value_counts()

No     292422
Yes     27373
Name: HeartDisease, dtype: int64

In [11]:
# Percentage of Yes and No in HeartDisease column
print("HeartDisease statistics in this data: \n")
print(df['HeartDisease'].value_counts() / df['HeartDisease'].value_counts().sum() * 100)

HeartDisease statistics in this data:

No     91.440454
Yes     8.559546
Name: HeartDisease, dtype: float64

## Summary of different factors and their association with Heart Disease:

**Two factor association**: cross tab function making simple to complex counting of categorical columns according to an index and their related columns

In [12]:
pd.crosstab(df['HeartDisease'], df['Smoking'], margins=True)

Smoking           No     Yes     All
HeartDisease
No            176551  115871  292422
Yes            11336   16037   27373
All           187887  131908  319795

In [13]:
# with colors
pd.crosstab(df['HeartDisease'], df['Smoking'], margins=True).style.background_gradient(cmap='Greens')

### Normalize by rows:

In [15]:
pd.crosstab(index=df['HeartDisease'], columns=df['Smoking'], margins=True, normalize='index')

Smoking             No       Yes
HeartDisease
No            0.603754  0.396246
Yes           0.414131  0.585869
All           0.587523  0.412477

In [16]:
pd.crosstab(index=df['HeartDisease'], columns=df['Smoking'], margins=True, normalize='index').style.background_gradient(cmap='Greens', axis='index')

In [17]:
# with colors and percentage instead of ratio
pd.crosstab(index=df['HeartDisease'], columns=df['Smoking'], margins=True, normalize='index').style.format("{:.0%}").background_gradient(cmap='Greens', axis='index')

### Normalize by columns:

In [18]:
## How many of the Heart Disease patients have a smoking history?
pd.crosstab(index=df['HeartDisease'], columns=df['Smoking'], margins=True, normalize='columns').style.format("{:.0%}").background_gradient(cmap='Greens', axis='columns')

### Two factors and multi-level associations:

Is heart disease prevalent in smoking males or smoking females?

In [20]:
pd.crosstab(index=df['HeartDisease'],
            columns=[df['Sex'], df['Smoking']],
            margins=True,
            normalize='index'
            ).style.format("{:.0%}").background_gradient(cmap='Purples', axis='columns')

Is stroke a risk factor for Heart Disease in females or males?

In [21]:
pd.crosstab(index=df['HeartDisease'],
            columns=[df['Sex'], df['Stroke']],
            margins=True,
            normalize='index'
            ).style.format("{:.0%}").background_gradient(cmap='Oranges', axis='columns')

### Multi-association between Heart Disease, Stroke, Sex and Smoking?

In [23]:
pd.crosstab(index=df['HeartDisease'],
            columns=[df['Sex'], df['Stroke'], df['Smoking']],
            margins=True,
            normalize='index'
            ).style.format("{:.0%}").background_gradient(cmap='Oranges', axis='columns')